.projects_section {
    background-color: rgb(0, 0, 0);
    height: auto;
    padding: 180px 90px 90px 90px;
}

.projects_section  h1{
    font-size: 22px;
    text-align: center;
    font-family: 'Lexend Peta', sans-serif;
    color: #ffffff;
    font-size: 33px;
}

.grid_images {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 45px;
}

.grid {
    height: 260px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}